#body{
    align-items: center;
    background-color: var(--white);
    background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

#error404-body{
    background-color: black;
    color: white;
}

#error404-h1 {
    color: red;
}

#error404-h6{
    color: red;
    text-decoration: underline;
}

body.a {
    color: #1b1e21;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:hover {
    border-bottom: 1px solid;
    background: #f1b0b7;
}